<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mimumi.lemonserver.mapper.MerchantfileMapper">
  <resultMap id="BaseResultMap" type="com.mimumi.lemonserver.entity.Merchantfile">
    <id column="fileid" jdbcType="INTEGER" property="fileid" />
    <result column="filename" jdbcType="VARCHAR" property="filename" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="filetype" jdbcType="INTEGER" property="filetype" />
    <result column="merchantid" jdbcType="INTEGER" property="merchantid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="modifytime" jdbcType="TIMESTAMP" property="modifytime" />
  </resultMap>
  <sql id="Base_Column_List">
    fileid, filename, `path`, filetype, merchantid, createtime, modifytime
  </sql>

  <select id="getByMerchantId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from merchantfile
    where merchantid = #{merchantid,jdbcType=INTEGER}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchantfile
    where fileid = #{fileid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from merchantfile
    where fileid = #{fileid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mimumi.lemonserver.entity.Merchantfile">
    insert into merchantfile (fileid, filename, `path`, 
      filetype, merchantid, createtime, 
      modifytime)
    values (#{fileid,jdbcType=INTEGER}, #{filename,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{filetype,jdbcType=INTEGER}, #{merchantid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{modifytime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mimumi.lemonserver.entity.Merchantfile">
    insert into merchantfile
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileid != null">
        fileid,
      </if>
      <if test="filename != null">
        filename,
      </if>
      <if test="path != null">
        `path`,
      </if>
      <if test="filetype != null">
        filetype,
      </if>
      <if test="merchantid != null">
        merchantid,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="modifytime != null">
        modifytime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileid != null">
        #{fileid,jdbcType=INTEGER},
      </if>
      <if test="filename != null">
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="filetype != null">
        #{filetype,jdbcType=INTEGER},
      </if>
      <if test="merchantid != null">
        #{merchantid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mimumi.lemonserver.entity.Merchantfile">
    update merchantfile
    <set>
      <if test="filename != null">
        filename = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        `path` = #{path,jdbcType=VARCHAR},
      </if>
      <if test="filetype != null">
        filetype = #{filetype,jdbcType=INTEGER},
      </if>
      <if test="merchantid != null">
        merchantid = #{merchantid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifytime != null">
        modifytime = #{modifytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where fileid = #{fileid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mimumi.lemonserver.entity.Merchantfile">
    update merchantfile
    set filename = #{filename,jdbcType=VARCHAR},
      `path` = #{path,jdbcType=VARCHAR},
      filetype = #{filetype,jdbcType=INTEGER},
      merchantid = #{merchantid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      modifytime = #{modifytime,jdbcType=TIMESTAMP}
    where fileid = #{fileid,jdbcType=INTEGER}
  </update>
</mapper>